@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#introduce{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "lato", sans-serif;
}

img{
    border-radius: 50%;
    box-shadow: 0 0 30px white;
    width: 120px;
    height: 120px;

}

img:hover{
    cursor: zoom-in;

}

header{
    background-color: #782221;
    margin-top: auto;
}


div{
    color: white;
}

#flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #2c1d27;
    text-decoration: none;
}

body{
    display: block;
    border-top: #2c1d27;
    margin: auto;
    width: 1160px;
    border: 1px solid black;
}

#description{
    text-decoration-color: white;
    background-color: #782221;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: left;
    display: flex;
    height: 1090px;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    border-right-color: black;
    
}

h3{
    background-color:   #dbc2a4;
    font-family: "lato", sans-serif;
}

h3:hover{
    background-color: #782221;
}

h4{
    font-family: "lato", sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #782221;
}

#social-media{
    height: 50px;
    width: 50px;
}

#social-media:hover{
    cursor: pointer;
    background-color: white;
    opacity: 0,9;
}
